
{% extends 'base.html' %} {% block content %}
{% load static %}
  
  
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
      <div class="logo">
        <a href="./home.html" class="simple-text logo-normal">
          Thryve
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'appointments' %}">
              <i class="material-icons">calendar_today</i>
              <p>View Calendar</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'manageData' %}">
              <i class="material-icons">folder</i>
              <p>Manage Data</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">bubble_chart</i>
              <p>Data Analysis</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">person</i>
              <p>Account Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'editmeetingcomments' %}">
                <i class="material-icons">subject</i>
                <p>Edit Meeting Comments</p>
            </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="{% url 'filterData' %}">
                  <i class="material-icons">find_in_page</i>
                  <p>Filter Data</p>
              </a>
          </li>



          <li class="nav-item ">
            <a class="nav-link" href="./home.html">
              <i class="material-icons">backspace</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">notifications</i>
                  <p class="d-lg-none d-md-block">
                    Notifications
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="row justify-content-center">
        <!--for a string this is how you check if theirs a value in them in html-->
        {% if user.first_name and user.last_name %}
          <h1> <font color="white"><h1 style="color:blue;display: inline-flex;">{{ user.first_name }} {{ user.last_name }} </h1>'s Recently Selected Appointment Meeting</font></h1> 
        {% else %}
        <h1> <font color="white"><h1 style="color:blue;display: inline-flex;">{{ user.username }}</h1>'s Recently Selected Appointment Meetings</font></h1> 
        {% endif %}
      </div>


      <div style="margin-top:90px; margin-left: 20%; overflow-y: auto; overflow-x: auto; height:auto; max-width:700px">
        <table id="edittable" class="table table-bordered table-sm table-hover" cellspacing="0" >
          <thead class="table-dark">
            <tr>
              <th class="th-sm">Name
              </th>
              <th class="th-sm">Student Number
              </th>
              <th class="th-sm">Their Reason For The Appointment
              </th>
              <th class="th-sm">Appointment Starting Date & Time
              </th>
              <th class="th-sm">Appointment Ending Date & Time
              </th>
              <th class="th-sm">My Comment On The Appointment
              </th>
            </tr>
          </thead>

          <tbody>
            {% for instance in allData %}
            <!-- ur actually using feild names of the actual database, the model creation of it on here might actually have less feild 
            database variables than what is there(cus of not having the current commited work) -->
              <tr>
                <!-- Writing it this way doesn't work as it will give you errors
                  <td> instance[0] </td>  ** even when the barcket instance bracket is commented out it still gives error if its [0] n not .0
                     it ust be written like instance.0 or instance.1 etc...  
                -->
                <td>{{ instance.0 }} {{ instance.1 }}</td>
                <!--don't make common mistakes like forgetting the brackets cus of lack of sleep-->
                <td>{{ instance.2 }}</td>
                <td>{{ instance.3 }}</td>
                <td>{{ instance.4 }}</td>
                <td>{{ instance.5 }}</td>
                {% if instance.6 == None %}
                  <td></td>
                {% else %}
                  <td>{{ instance.6 }}</td>
                  
                {% endif %}
                
    
                
                <!--if its not a object query you cant iterate like this, rn its a list
                <td>{{ instance.title }}</td>
                <td>{{ instance.start_date }}</td>
                <td>{{ instance.end_date }}</td>
                <td>{{ instance.staff_notes }}</td>
                -->
              </tr>
              <!--Don't forget the closing of the context for-loop or if-loop or you will get an error-->
              {% endfor %}
        </table>
      </div>




      <br>
      <div class="row justify-content-center">
          <h1> <font color="white">Edit Student/Alumni Comment</font></h1>    
      </div>
      <form action="{% url 'editmeeting_save_meeting_comments_page' %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
          <textarea name="writtenwords" rows="24" cols="70" placeholder="This is the default text{{ idfrommanagedata }}"></textarea>
        </div>
        <div class="row justify-content-center" >   
          
            
            <input type="hidden" name="pastpageappointmentid" value="{{ idfrommanagedata }}">
            <button type="submit"  class="btn btn-primary">go back to student/alumni meeting page</button>    
          
        </div>
      </form> 

    </div>
      
  </div>
      

    

        
       
   
    
  <!--   JS Files   -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="./assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-dashboard.js?v=2.1.0"></script>



  {% endblock %}







     