{% extends 'base.html' %} {% block content %}
{% load static %}
{% load widget_tweaks %}

 <script type="text/javascript">
function exportToExcel(tableID, filename = ''){
    var downloadurl;
    var dataFileType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name//if statement,conditional ternary operator
    filename = filename?filename+'.xls':'export_excel_data.xls';
    
    // Create download link element,//it should not lead to anywhere
    downloadurl = document.createElement("a");
    //put link at bottom of page
    document.body.appendChild(downloadurl);
    //navigator contains info about my browser/shouldnt be used to detect browser version
    //msSaveOrOpenBlob saves the file or blob to diskn enables file open option
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTMLData], {
            type: dataFileType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;
    
        // Setting the file name
        downloadurl.download = filename;
        
        //triggering the function
        downloadurl.click();
    }
}
        /*
        $(document).ready(function () {
        $('#dtHorizontalVerticalExample').DataTable({"scrollX": true, "scrollY": 20,
        });
        $('.dataTables_length').addClass('bs-select');
        });
        */
        
        $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        });
        // Basic example
        $(document).ready(function () {
        $('#dtBasicExample').DataTable({
        "searching": false // false to disable search (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
        });
</script>




  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
      <div class="logo">
        <a href="./home.html" class="simple-text logo-normal">
          Thryve
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'appointments' %}">
              <i class="material-icons">calendar_today</i>
              <p>View Calendar</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'manageData' %}">
              <i class="material-icons">folder</i>
              <p>Manage Data</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">bubble_chart</i>
              <p>Data Analysis</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">person</i>
              <p>Account Management</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'editmeetingcomments' %}">
                <i class="material-icons">subject</i>
                <p>Edit Meeting Comments</p>
            </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="{% url 'filterData' %}">
                  <i class="material-icons">find_in_page</i>
                  <p>Filter Data</p>
              </a>
          </li>



          <li class="nav-item ">
            <a class="nav-link" href="./home.html">
              <i class="material-icons">backspace</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">notifications</i>
                  <p class="d-lg-none d-md-block">
                    Notifications
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      
      <br>
      <div style="margin-top:90px; margin-left: 20%; overflow-y: auto; overflow-x: auto; height:50%; max-width:700px">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" >
      <thead>
        <tr>
          <th class="th-sm">Name
          </th>
          <th class="th-sm">Student Number
          </th>
          <th class="th-sm">Their Reason For The Appointment
          </th>
          <th class="th-sm">Appointment Starting Date & Time
          </th>
          <th class="th-sm">Appointment Ending Date & Time
          </th>
          <th class="th-sm">My Comment On The Appointment
          </th>
        </tr>
      </thead>
      <tbody>
        {% for instance in allData %}
        <!-- ur actually using feild names of the actual database, the model creation of it on here might actually have less feild 
        database variables than what is there(cus of not having the current commited work) -->
          <tr>
            <!-- Writing it this way doesn't work as it will give you errors
              <td> instance[0] </td>  ** even when the barcket instance bracket is commented out it still gives error if its [0] n not .0
                 it ust be written like instance.0 or instance.1 etc...  
            -->
            <td>{{ instance.0 }} {{ instance.1 }}</td>
            <!--don't make common mistakes like forgetting the brackets cus of lack of sleep-->
            <td>{{ instance.2 }}</td>
            <td>{{ instance.3 }}</td>
            <td>{{ instance.4 }}</td>
            <td>{{ instance.5 }}</td>
            <td>{{ instance.6 }}</td>

            
            <!--if its not a object query you cant iterate like this, rn its a list
            <td>{{ instance.title }}</td>
            <td>{{ instance.start_date }}</td>
            <td>{{ instance.end_date }}</td>
            <td>{{ instance.staff_notes }}</td>
            -->
          </tr>
          <!--<b>{{instance}} - {{instance.attachment4}} - {{instance.attachment1}} - {{instance.attachment2}} - {{instance.attachment3}}</b>-->
          <!--<p> {{ instance.id }} - {{ instance.title }} - {{instance.start_date}} - {{instance.end_date}} - {{instance.description}} - {{instance.student_id_id}}</p>
          -->
        {% endfor %}

      </tbody>
      <tfoot>
        <tr>
          <th>Name
          </th>
          <th>Future Position Goal
          </th>
          <th>Location
          </th>
          <th>Age
          </th>
          <th>Date Of Appointment
          </th>
          <th>Desired Salary Of Almni/Student
          </th>
        </tr>
      </tfoot>
    </table>
      </div>
      
      <div style="margin-left: 20%; margin-top:5%;">
        <!--this is not how you access the color tag! that is why it wasn't working.-->
        <!--<p color="green">this should be green</p>-->
        <!--This way of changing the color doesn't work if you do it in tag p and put a form.error in the text of the p
        cus i think it interfears with django and how its set up. YOU MUST PUT THE STYLE IN THE DIV OF TEH FORM.ERROR BEING DISPLAYED!
            <p style="color:red;">{{ form.name.errors }}</p>-->
        <div class="control-group" style="color:red;">
          {{ form.name.errors }}
          {% render_field form.student_number.errors  %}
      </div>
      <!--delete this message stuff as it does nothing-->
        <!--
        {% if mmessages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}--><!--are % and $ thesame?-->
          <!--
        {% endif %}
        -->

        <form action="{% url 'check-frequency' %}" method="POST">
        {% csrf_token %}
        <!--{{ form }}-->
        <!--{{ form.as_p }}-->
              <!-- 
              <label for="student_name">Student name:</label>
              
              <input type="text" id="student_name" name="studentname" style="display: inline-block;">
              
              <div style="display: inline-block;"><pre>   <b> or </b>   </pre></div>
              <label for="student_name">Student id:</label>
              <input type="number" id="student_id" name="studentid"><br><br>
              <label  >Date Range:</label>
              <input type="date" id="start_date" name="startdate" style="display: inline-block;">
              <div style="display: inline-block;"><pre>   <b> to </b>   </pre></div>
              <input type="date" id="end_date" name="enddate">
              -->
              <!--{{ form.name }}-->

              <div style="border:2px solid black;border-width:2px;max-width:700px;max-height: 160px;" class="rounded border border-primary"> 
                <!--{{ allData }}--><!--This works -->
                <!--for below, i must specify the feild befor the wrrors if i want to display a particular error,
                just putting form.errors makes a list view of all errors after first showing their feild name in our code which the user has no concern with-->
                <!--{{ form.name.errors }}--><!--This is 1 way we can get all the errors.This works, it just that with this we can't add attributes to the form input form or other form rellated grabs-->
                
                <div class="fieldWrapper col-xs-4" style="display: inline-flex;padding-top: 15px;"><!--you can add classes beside each other like this-->
                  <label for="{% render_field form.name.id_for_label %}">{% render_field form.name.label %}: </label>
                  {% render_field form.name %}
                </div>
                <!--{{ form.student_number }}-->
                
                <div style="margin-left: 50px;margin-right:50px;display: inline-flex;padding-top: 15px;" ><b class="text-info">-OR-</b></div>
                
                <div class="fieldWrapper col-xs-4" style="display: inline-flex;padding-top: 15px;">   <!--*dont but tags in another tag, it shows no error but it wont work-->
                  {% render_field form.student_number.label_tag %}
                  {% render_field form.student_number %}
                </div>
                
              </div >
              <!--{{ form.start_date}}-->
              <!--When this is visible the max height doesn't respond in the way the first one above does so find out why latter-->
              <div style="max-width:700px;max-height: 160px;"> 

                <div class="fieldWrapper" style="display: inline-flex;padding-top: 15px;">
                  {% render_field form.start_date.label_tag %}
                  <!--{{ form.start_date.label_tag }}--><!--this works too -->
                  {% render_field form.start_date %}
                </div>
                
                <!--{{ form.end_date }}-->
                <!--when you do the class form-control and set the div as something like bootstrap, you need the inline flex on div to
                let it shrink down to it appropriate size as it is excepting something else beside it-->

                <!--class="fieldWrapper in div does nothing????? it seems in this case, maybe i can use something better-->
                <!--update: the feildWrapper is what keeps the label and input variable together-->
                <!--if you add  col-md-4  as a class to the below div then the label will appear squeeched cus its tryna fit in the
                the space you dictated-->
                <div class="fieldWrapper" style="display: inline-flex;float: right;padding-top: 15px;"> 
                {% render_field form.end_date.label_tag %}
                {% render_field form.end_date %}
                </div>
              </div>
              <!--<input id="id_my_integer" name="my_integer" value="50" type="number">-->
              <input type="submit" value="Submit" class="btn btn-primary" style="display: block;">
              
      </form>
            <!--
            <p>Here is the result: {{ allData }}</p>
            <p>Here is the result2: {{ backup }}</p>
            -->
            <!-- <p>  {% if allData != None %}{{ backup }}{% else %} backup Coming Soon{% endif %}</p> -->
            <!--
            {% for instance in allData %}
            -->
              <!-- ur actually using feild names of the actual database, the model creation of it on here might actually have less feild 
              database variables than what is there(cus of not having the current commited work) -->
              <!--
              <p>{{instance}}</p>
              <-->
              <!--<b>{{instance}} - {{instance.attachment4}} - {{instance.attachment1}} - {{instance.attachment2}} - {{instance.attachment3}}</b>-->
              <!--
              <p> {{ instance.id }} - {{ instance.title }} - {{instance.start_date}} - {{instance.end_date}} - {{instance.description}} - {{instance.student_id_id}}</p>
              
              {% endfor %}
              -->
              
      </div>
      

      
      <input type="text" id="myInput" onkeyup="filterList()" placeholder="Search for for Student/Alumni..." title="Type in a name" style="margin-left: 40%; margin-top:5%; width:10%">
      
      
   <div class="container">
        
   <button type="button" id="msg" class="alert alert-info" hidden></button>
   <button type="button" id="btnExport" class="btn btn-primary" hidden>Export To Excel</button>    
   </div>
      
      
      
      
      
      
      
      
      
      
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="./home.html">
                  Thryve
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
          <!--footer here -->
        </div>
      </footer>
    </div>
  </div>
    
    <!--im gonna now put a table here -->
   
        
        
  
    
   <script>
       
function filterList() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("dtBasicExample");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    var y = false;
    var b;
    var tdd;
    var counter = 0;
    for (b = 0; b < td.length; b++){
        tdd = td[b];
        /*
        if(y == true){
            tr[i]
            td[i].style.display = "";
        }
        */
        //alert("here");
        if (td[b]) {
            
            
            txtValue = td[b].textContent || td[b].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              y = true;
            } 
            else{
               counter++; 
            }
            if(b == (td.length-1) && counter == td.length){
                tr[i].style.display = "none";
            }
            else if(b == (td.length-1) && y == true){
                tr[i].style.display = "";
                y = false;
            }
            /*
            if(b == (td.length-1) && y == true) {
              td[b].style.display = "";
              y = false;
            }
            else if(b == (td.length-1) && y == false){
                td[b].style.display = "none";

            }
            */
        }   
    }
  }
}

document.addEventListener("DOMContentLoaded", function(event) {


        var $msg=$("#msg");
        let allData = {1:{cellAD: 'Iggy'},2: {cellAE: 'Thea'}, 3:{cellAF: 'Mobeen'}};
        
        
            var db, openRequest;
                
            var dbSupported = ("indexedDB" in window) ? true : false;
            if(dbSupported) {
                var openRequest = indexedDB.open("myDB",1);

                openRequest.onupgradeneeded = function(e) {
                    console.log("running onupgradeneeded");

                    db=openRequest.result;
                    var DB = e.target.result;

                    if(!DB.objectStoreNames.contains("allData")) {
                        //DB.createObjectStore("allData",allData);

                        /*
                        //update records
                        var storeRequest = objectStore.put(allData);
                        storeRequest.onsucess = function(){
                            //do something
                        };
                        storeRequest.onerror = function(){
                            //do something
                        };
                        //read data
                        var ob = objectStore.get(1);
                        */
                    }
                }
                openRequest.onsuccess = function(e) {
                    console.log("Success!");
                    //db = e.target.result;
                    db=openRequest.result;
                };
                openRequest.onerror = function(e) {
                    console.log("Error");
                    console.dir(e);//might need to get rid of this line
                };
            }
            var storeRequest=db.transaction(["allData"],"readwrite").objectStore("allData").get("allData");

          storeRequest.onsuccess=function() {

            if ((storeRequest.result)) {
                 $msg.val(storeRequest.result);
                 
             }
             else {
                 alert("data didnt save");
                 showPopup("E-mail doesn't exist in the database");
             };

          };
        
        /*
        // The fastest loop:
        var key=0; // We initialize the variable before the loop.
            for (; key < allData.length; ++key) {  
            }
        */
       for (var key in allData){
           if(!allData.hasOwnProperty(key)) continue;
           //alert(key);
           var obj = allData[key];
           for (var prop in obj){
               if (!obj.hasOwnProperty(prop)) continue;
               //or this
               //alert(prop + " = " + obj[prop]);
               
               //alert(prop + " = " + allData[key][prop]);
           }
       }
       /*
        //var key = Object.keys(allData);
        var arrayVersionOfAllData = Object.keys(allData);
        //var arrayVersionOfAllDataValues = Object.Values(allData);
        //alert(arrayVersionOfAllData);
        //alert(arrayVersionOfAllDataValues);
        arrayVersionOfAllData.forEach(lll)
        function lll(item, index, arr){
            //alert("in function");
            //alert(item);
            //alert("key is:" + arrayVersionOfAllData[index]);
            //alert(arr);
        }
        alert("out function");
        alert("start");
        for (var key in arrayVersionOfAllData){
            alert("next1");
            //System.out.println("Value of "+key+" is: "+allData.get(key));
            //alert(Object.keys(allData[key]).toString());
            alert("array is:" + String(arrayVersionOfAllData));
            alert("keys are:"+arrayVersionOfAllData[key])
            alert(allData[arrayVersionOfAllData[key]]);
            alert([Object.keys(allData)]);
            alert(allData["1"]["cellAD"]);
            alert([Object.keys(allData["1"])]);
            alert([Object.keys(allData[String(key)])]);
            alert("hhhhh");
            //YOU MUST PUT A [] ARROUND THE KEYS() TO MAKE IT INTO A ACTUAL LIST FOR LOOPING
            for(var key2 in [Object.keys(allData[key])]){  
                alert("mk");
                System.out.println("Value of "+key+" is: "+allData[key][key2]);
            }
            
        }
        */
       //this IS THE ONLY WAY TO ACCESS OBJECT KEYSSSSSSSSSS IN JAVASCRIPT
        //alert(Object.keys(allData));
        //alert(allData["1"]["cellAD"]);
        /*
        var btnSubmit=document.getElementById("btnExport");
           btnSubmit.addEventListener("click", excelApiIntegration, false);

        var btnSubmitText=btnSubmit.textContent;
        var msg=document.getElementById("msg");
        var url = "http://babanski.com/files/ajax/hello.php";

        var xhr = new XMLHttpRequest();

        // Part1: Try addEventListener() approach
        /*
        xhr.addEventListener("loadstart", xhrLoadStart, false);        
        xhr.addEventListener("load", xhrLoad, false);
        xhr.addEventListener("loadend", xhrLoadEnd, false);
        
        function xhrLoadStart(evt) { 
            btnSubmit.textContent="Please Wait!";
            msg.setAttribute("hidden", "");   
        };

        function xhrLoad(evt) {
           msg.textContent=xhr.responseText;
        };

        function xhrLoadEnd(evt) {
                btnSubmit.textContent=btnSubmitText;
                msg.removeAttribute("hidden");
        };
        */

        
        // Part2: Universal approach (event handlers)
        /*
        xhr.onloadstart=function(evt) {
           btnSubmit.textContent="Please Wait!";
            msg.setAttribute("hidden", "");   
        };

        xhr.onload=function(evt) {
           //msg.textContent=xhr.responseText;
        };

        xhr.onerror=function(evt) {
           //msg.textContent="Error: cannot export data!";
        };

        xhr.ontimeout=function(evt) {
           //msg.textContent="Error: request has timed out!";
        };

       xhr.onloadend=function(evt) {
           btnSubmit.textContent=btnSubmitText;
            //msg.removeAttribute("hidden", "");   
       };
        */
       
       //Part 3:
        //https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/readyState
        /*
        xhr.onreadystatechange = function(evt) {
            if(xhr.readyState==XMLHttpRequest.OPENED) {
                btnSubmit.textContent="Please Wait!";
                msg.setAttribute("hidden", "hidden");                
            }
            else if(xhr.readyState==XMLHttpRequest.DONE) {
                if (xhr.status==200) {
                    msg.textContent=xhr.responseText;
                }
                else {
                    msg.textContent="Error: cannot get data!";
                }
                btnSubmit.textContent=btnSubmitText;
                msg.removeAttribute("hidden");
            }
        };
        

        function excelApiIntegration(event) {
               
               exportToExcel('tblexportData', 'user-data');
               
               /*
               
               event.preventDefault();
               xhr.open("POST", url, true);

	        // By default browser is willing to wait "forever"
        	// console.log(xhr.timeout);

		//In Internet Explorer, the timeout property may be set only after calling the open() method 
		// and before calling the send() method.

               xhr.timeout=6000;
               var formData=new FormData();

               
                var fName = "A";
                var lName = "B";
                var countin = 0;
                for (var key in allData){
                    if(!allData.hasOwnProperty(key)) continue;
                    //alert(key);
                    var obj = allData[key];
                    for (var prop in obj){
                        if (!obj.hasOwnProperty(prop)) continue;
                        //or this
                        //alert(prop + " = " + obj[prop]);
                        //alert(prop + " = " + allData[key][prop]);
                        if(countin == 0){
                            fName = allData[key][prop];
                        }
                        else if(countin == 1){
                            lName = allData[key][prop];
                        }
                        
                        countin++;
                        
                    }
                }
                /*
                for(var key in keys){
                    System.out.println("Value of "+key+" is: "+allData.get(key));

                    for(var key2 in allData[key].keys()){

                        System.out.println("Value of "+key2+" is: "+allData.get(key));
                        if(countin == 0){
                            fName = key2;
                        }
                        else if(countin == 1){
                            lName = key2;
                        }
                        else{
                            countin++;
                        }
                    }
                }
                  
               formData.append("f_name", fName);
               formData.append("l_name", lName);
      
               xhr.send(formData);
               
        }
        */
    });
    </script> 
    
    
    

        
       
   
    
  <!--   JS Files   -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="./assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-dashboard.js?v=2.1.0"></script>

  {% endblock %}