option_settings:
 aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
 aws:elasticbeanstalk:container:python:
   WSGIPath: trv.wsgi
 


packages:
  yum:
    git: []
    libjpeg-turbo-devel: []
    amazon-linux-extras: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel







files:
    "/etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            find /var/log/containers/nginx-proxy/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f
    "/home/ec2-18-222-205-43/setup-healthd-appstat.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            "#!/bin/sh"
            set -e
            mkdir -p /var/log/containers/nginx-proxy/healthd
            chmod 777 /var/log/containers/nginx-proxy/healthd
            if [ -d "/etc/healthd" ]
            then
                echo "appstat_log_path: /var/log/containers/nginx-proxy/healthd/application.log" >> /etc/healthd/config.yaml
                echo "appstat_unit: sec" >> /etc/healthd/config.yaml
                echo "appstat_timestamp_on: completion" >> /etc/healthd/config.yaml
                initctl start healthd || initctl restart healthd
            fi





