{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/data_analysis.css' %}">

<link rel="stylesheet" href="">
<div class="wrapper ">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <span class="show-list material-icons">list</span>
    </a>
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
        <div class="logo">
            <a href="./home.html" class="simple-text logo-normal">
                Thryve
            </a>
            <div id="close-sidebar">
                <span class="material-icons">close</span>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item   ">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="material-icons">calendar_today</i>
                        <p>View Calendar</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">folder</i>
                        <p>Manage Data</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="material-icons">bubble_chart</i>
                        <p>Data Analysis</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">person</i>
                        <p>Account Management</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./home.html">
                        <i class="material-icons">backspace</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="data-analysis-container" data-url="{% url 'staff_data' %}"></div>
    <div class="search_categories">
        <div class="select">
            <select class="select-cats" name="search_categories" id="search_categories">
                <option value="1" selected="selected">Education Level</option>
                <option value="2">Grades</option>
                <option value="3">Co-ops</option>
                <option value="4">International Students</option>
            </select>
        </div>
    </div>
    <div style="width:100%;height:450px;" id="googlechartContainer">
    </div>
    <!-- <div id="data-chart-container"></div> -->
    <script src="{% static 'js/data_analysis.js' %}"></script>
    <script>
        function processData(dataset) {
            var result = []
            dataset = JSON.parse(dataset);
            dataset.forEach(item => result.push(item.fields));
            return result;
        }

        var pivot = new WebDataRocks({
            container: "#data-analysis-container",
            toolbar: true,
            report: {
                dataSource: {
                    filename: tempo
                }
            },
            reportcomplete: function () {
                pivot.off("reportcomplete");
                pivotTableReportComplete = true;
                createGoogleChart();
            }
        });

        var tempo = function dataCollection(data) {
            return data;
        }

        var hehe;

        $.ajax({
            url: $("#data-analysis-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                tempo(data);
                hehe = new WebDataRocks({
                    container: "#data-analysis-container",
                    width: "100%",
                    height: "100%",
                    toolbar: true,
                    report: {
                        dataSource: {
                            data: processData(data)
                        },
                        formats: [{
                            maxDecimalPlaces: 2
                        }],
                        slice: {
                            rows: [{
                                "uniqueName": "Program Type"
                            }],
                            columns: [{
                                "uniqueName": "Numbers"
                            }],
                            measures: [{
                                "uniqueName": "Grades",
                                "aggregation": "average"
                            }]
                        },
                    },
                    reportcomplete: function () {
                        pivot.off("reportcomplete");
                        pivotTableReportComplete = true;
                        createGoogleChart();
                    }

                });
                return hehe;
            }
        });



        var pivotTableReportComplete = false;
        var googleChartsLoaded = false;

        google.charts.load('current', {
            'packages': ['corechart']
        });

        google.charts.setOnLoadCallback(onGoogleChartsLoaded);

        function onGoogleChartsLoaded() {
            googleChartsLoaded = true;
            if (pivotTableReportComplete) {
                createGoogleChart();
            }
        }

        function createGoogleChart() {
            if (googleChartsLoaded) {
                hehe.googlecharts.getData({
                        type: "pie"
                    }, // specify the chart type
                    drawChart,
                    drawChart
                );
            }
        }


        function drawChart(_data) {
            console.log(_data)
            var data = google.visualization.arrayToDataTable(_data.data);
            var options = {
                title: "Number of students per education level",
                height: 700,
                legend: {
                    position: 'top'
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('googlechartContainer'));
            chart.draw(data, options);
        }
    </script>
</div>
{% endblock %}