{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/data_analysis.css' %}">

<link rel="stylesheet" href="">
<div class="wrapper ">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <span class="show-list material-icons">list</span>
    </a>
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
        <div class="logo">
            <a href="{% url 'overview' %}" class="simple-text logo-normal">
                Thryve
            </a>
            <div id="close-sidebar">
                <span class="material-icons">close</span>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item   ">
                    <a class="nav-link" href="{% url 'overview' %}">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'appointments' %}">
                        <i class="material-icons">calendar_today</i>
                        <p>View Calendar</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'manageData' %}">
                        <i class="material-icons">folder</i>
                        <p>Manage Data</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'data_dashboard' %}">
                        <i class="material-icons">bubble_chart</i>
                        <p>Data Analysis</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">
                        <i class="material-icons">person</i>
                        <p>Account Management</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'editmeetingcomments' %}">
                        <i class="material-icons">subject</i>
                        <p>Edit Meeting Comments</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'filterData' %}">
                        <i class="material-icons">find_in_page</i>
                        <p>Filter Data</p>
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'logout_btn' %}">
                        <i class="material-icons">backspace</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="data-analysis-container" data-url="{% url 'staff_data' %}"></div>
    <div class="flex-container">
        <div class="search_categories">
            <div class="select">
                <select class="select-cats" name="search_categories" id="search_categories">
                    <option value="1" selected="selected">Education Level</option>
                    <option value="2">Grades</option>
                    <option value="3">ALS</option>
                    <option value="4">Co-ops</option>
                    <option value="5">International Students</option>
                </select>
            </div>
        </div>

        <div class="chart-type">
            <div class="select">
                <select onchange="onGoogleChartsLoaded()" class="select-chart" name="chart_type" id="chart_type">
                    <option value="1" selected="selected">Chart Type</option>
                    <option value="column">Column</option>
                    <option value="pie">Pie</option>
                    <option value="bar">Bar</option>
                    <option value="line">Line</option>
                    <option value="area">Area</option>
                </select>
            </div>
        </div>
    </div>
    <button class="update-btn btn btn-success btn-large" type="submit">Update</button>
    <div style="width:100%;height:450px;" id="googlechartContainer">
    </div>
    <!-- <div id="data-chart-container"></div> -->
    <script src="{% static 'js/data_analysis.js' %}"></script>
    <!-- <script>
        
    </script> -->
</div>
{% endblock %}